---
layout: default
title: Resources
---

<div class="Home">
  <div class="Home-posts">
    <h2 class="Home-posts-title"><a class="Home-posts-post-title" href="https://bitcoin.org/bitcoin.pdf">Bitcoin: A Peer-to-Peer Electronic Cash System</a></h2>
    <h2 class="Home-posts-title">Additional Resources</h2>
    {% for post in site.posts %}
      {% if post.type == "resource" %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
</div>
