<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <a href="https://github.com/Rob-Ferguson/HonoluluBitDevs" target="_blank" rel="noopener nofollow">Source available on Github</a>
    </div>
    <div class="Footer-rss">
      <a href="{{ site.baseurl }}/feed.xml">RSS Feed</a>
    </div>
  </div>
  <h2 class="Home-posts-title" style="text-align: center;">Sponsors</h2>
  <div class="Footer-sponsors">
    <a href="https://www.htdc.org/" target="_blank"><img style="width:250px;" src="https://honolulubitdevs.com/assets/imgs/HTDC_Logo.png"/></a>
    <a href="https://sandboxhawaii.org/" target="_blank"><img style="width:250px;" src="https://honolulubitdevs.com/assets/imgs/Sandbox_Logo.png"/></a>
  </div>
  <div class="Donate">
    <a href="{{ site.baseurl }}/donate" class="Donate-button" target="_blank"><img style="width:150px;" src="https://app.opennode.com/donate-with-bitcoin.svg"/></a>
  </div>
</footer>
