<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <a href="https://github.com/Rob-Ferguson/HonoluluBitDevs" target="_blank" rel="noopener nofollow">Source Code</a>
    </div>
    <div class="Footer-donate">
      <a href="{{ site.baseurl }}/donate" target="_blank">Donate BTC</a>
    </div>
    <div class="Footer-rss">
      <a href="{{ site.baseurl }}/feed.xml">RSS Feed</a>
    </div>
  </div>
  <h2 class="Home-posts-title" style="text-align: center;">Sponsors</h2>
  <div class="Footer-sponsors">
    <a href="https://www.htdc.org/" target="_blank"><img style="width:200px;" src="http://www.honolulubitdevs.com/assets/imgs/HTDC_Logo.png"/></a>
    <a href="https://sandboxhawaii.org/" target="_blank"><img style="width:200px;" src="http://www.honolulubitdevs.com/assets/imgs/Sandbox_Logo.png"/></a>
  </div>
</footer>
